[submodule "dice"]
	path = dice
	url = git@github.com:MarielleTayri/dice.git
[submodule "SecondCount"]
	path = SecondCount
	url = git@github.com:MarielleTayri/SecondCount.git
[submodule "tabata"]
	path = tabata
	url = git@github.com:MarielleTayri/tabata.git
